/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

html,
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  color: #222;
}

h1,
h2,
h3 {
  margin-bottom: 20px;
}

a {
  color: #222;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: block;
  margin: auto;
  max-width: 1000px;
}

/* header */
.Header-1 {
  background: #333;
  overflow: auto;
  line-height: 1.7em;
}

.Header-1 nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

.Header-1 nav a {
  color: white;
}

.Header-1 nav ul {
  float: right;
  list-style: none;
}

.Header-1 nav ul li {
  float: left;
}

.Header-1 nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

.Header-1 nav ul li a:hover {
  background: #444;
}

.active {
  background: #444;
}

/* vp-middle */

.vp-middle {
  height: 700px;
  background: url(../images/sentier-au-milieu-batiments-sous-ciel-sombre-au-japon_181624-43078.avif)
    center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  text-align: center;
}

.vp-middle-content {
  max-width: 500px;
  padding-top: 150px;
  color: white;
  display: block;
  margin: auto;
}

.vp-middle-content h1 {
  font-size: 50px;
}

.vp-middle-content p {
  font-size: 18px;
  letter-spacing: 0, 5em;
  line-height: 1.9em;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}

.btn-regular {
  background: white;
  color: #222;
}

.btn-dark {
  background: #222;
  color: white;
}

.btn-dark:hover {
  background: white;
  color: #222;
  border: solid black 1px;
}

.btn-regular:hover {
  background: black;
  color: white;
}
/* separator */

.separator {
  margin: 20px auto;
  height: 5px;
  width: 100px;
  background: black;
}

/* features */

.features {
  overflow: auto;
  padding: 100px 8px 100px 8px;
  text-align: center;
}

.feature {
  float: left;
  width: 50%;
}

.feature h2 {
  font-size: 20px;
}

.feature p {
  font-size: 14px;
  padding: 0px 10px;
}

/* person */

.person {
  height: 400px;
  background: url(../images/ninja-complet-portant-equipement_23-2150960878.jpg)
    center center;
}

.reservation {
  padding: 100px 0px 100px 0px;
  text-align: center;
}

footer {
  overflow: auto;
  background: #222;
  color: white;
  margin: 30px 0px 30px 0px;
  text-align: left;
  padding: 0px;
  margin: 0;
}

footer i {
  float: right;
}
footer i {
  float: left;
  margin-right: 5px;
}
